# Nossa task

Encontrar o número de viagens, por número de passageiros

In [0]:
%fs ls dbfs:/databricks-datasets/nyctaxi/tripdata/yellow

In [0]:
display(spark.read.csv("dbfs:/databricks-datasets/nyctaxi/tripdata/yellow", header=True))

Setup

In [0]:
rdd = sc.textFile("dbfs:/databricks-datasets/nyctaxi/tripdata/yellow/yellow_tripdata_2011-04.csv.gz") \
        .filter(lambda row: "vendor_id" not in row)

rdd = rdd.map(lambda line: line.split(",")) \
         .filter(lambda row: len(row) > 3)  # Garante que haja pelo menos 4 colunas

contagem_do_numero_de_passageiros = rdd.map(lambda row: (row[3], 1)) \
                                       .reduceByKey(lambda x, y: x + y)

for passenger_count, trip_count in contagem_do_numero_de_passageiros.collect():
    print(f"o número de passageiros é {passenger_count} e o número de viagens é {trip_count}")

Dataframes

In [0]:
df2 = spark.read.option("header", True).csv("dbfs:/databricks-datasets/nyctaxi/tripdata/yellow/yellow_tripdata_2011-04.csv.gz")

df2.groupBy("passenger_count").count().show()

Dataset

In [0]:
%scala

// Declaração correta da classe TaxiTrip
case class TaxiTrip(
  vendor_id: String,
  pickup_datetime: String,
  dropoff_datetime: String,
  passenger_count: String,
  trip_distance: String,
  pickup_longitude: String,
  pickup_latitude: String,
  rate_code: String,
  store_and_fwd_flag: String,
  dropoff_longitude: String,
  dropoff_latitude: String,
  payment_type: String,
  fare_amount: String,
  surcharge: String,
  mta_tax: String,
  tip_amount: String,
  tolls_amount: String,
  total_amount: String
)

df2 = spark.read.option("header", True).csv("dbfs:/databricks-datasets/nyctaxi/tripdata/yellow/yellow_tripdata_2011-04.csv.gz")

// Leitura do arquivo e transformação em Dataset
val dataset = spark.read
  .option("header", true)
  .csv("dbfs:/databricks-datasets/nyctaxi/tripdata/yellow/yellow_tripdata_2011-04.csv.gz")
  .as[TaxiTrip] // Converte o DataFrame em Dataset

// Agrupamento por `Passenger_Count` e contagem
dataset.groupBy("Passenger_Count").count().show()