# Setup

In [0]:
spark.conf.set("spark.databricks.io.cache.enabled", False)

#Transformação vs Ações

In [0]:
import pyspark.sql.functions as F

(spark
    .read
    .option("header", True)
    .csv("dbfs:/databricks-datasets/nyctaxi/tripdata/yellow/yellow_tripdata_2011-04.csv.gz")
    .filter("passenger_count = 1")
    .select("Trip_Distance", "Payment_Type")
    .groupBy("Payment_Type").agg(F.avg("Trip_Distance").alias("avg_trip_distance"))
    .show()
    .count()
    #.write.format("noop").mode("overwrite").save()
)

# Exemplo 2

In [0]:
# Criar o DataFrame diretamente no Databricks
data = [
    {"nome": "Alice", "idade": 25, "cidade": "São Paulo"},
    {"nome": "Bob", "idade": 17, "cidade": "Rio de Janeiro"},
    {"nome": "Carlos", "idade": 19, "cidade": "São Paulo"},
    {"nome": "Diana", "idade": 16, "cidade": "Belo Horizonte"},
    {"nome": "Eve", "idade": 22, "cidade": "Rio de Janeiro"},
]

# Criar DataFrame Spark
df = spark.createDataFrame(data)

# Aplicar as operações
resultado = (
    df.filter(df['idade'] > 18)  # Filtrar idade maior que 18
    .groupBy("cidade")          # Agrupar por cidade
    .count()                    # Contar as ocorrências por cidade
)

# Mostrar o resultado
resultado.show()